    <div class="container">

      <div class="starter-template">
        <h1>Amplify Code Challenge!</h1>
        <p class="lead">
            What are the most popular car makes in our database?<br>
        </p>
      </div>

      {%  block graph %}{% include 'main/graph.html' %}{% endblock %}
    </div><!-- /.container -->